$primary-color: var(--primary-color);
$black-color: #4c4c4c;
$blue-gradient: #b35754;
$grey-color: #bababa;
$light-grey-color: #e0e0e0;
$regular-font: "SF-ui-text-regular";
$light-font: "SF-ui-text-light";
$italic-font: "SF-ui-text-italic";
$border-color: #e5e5e5;
$green-color: rgb(1, 116, 1);
$white-color: #fff;
$background-color: #f2f2f2;
$button-background-color: #f4e7e7;
$dark-blue: var(--dark-blue-color);
$app-blue-color: var(--app-blue-color);
$app-darkBlue-color: var(--app-darkBlue-color);
$faded-label-color: var(--faded-label-color);
$light-grey: var(--light-grey);
$text-color: var(--text-color);
$body-background: var(--body-background);

:root {
  --primary-color: #a63936;
  --black-color: #4c4c4c;
  --blue-gradient-color: #b35754;
  --grey-color: #bababa;
  --light-grey-color: #e0e0e0;
  --regular-font: "SF-ui-text-regular";
  --light-font: "SF-ui-text-light";
  --italic-font: "SF-ui-text-italic";
  --border-color: #e5e5e5;
  --green-color: rgb(1, 116, 1);
  --white-color: #fff;
  --background-color: #f2f2f2;
  --button-background-color: #f4e7e7;
  --dark-blue-color: rgb(143, 56, 53);
  --darkBlack-color: #000;
  --app-blue-color: #c17472;
  --app-darkBlue-color: rgb(146, 54, 50);
  --faded-label-color: rgba(0, 0, 0, 0.5);
  --light-grey: #e8eced;
  --text-color: #83868a;
  --body-background: #efeeee;
}
