<ng-select class="custom" placeholder="select please ..." [(ngModel)]="selecteditems"
        (change)="onItemSelect($event)" [multiple]="true">
        <ng-option *ngFor="let car of dropdownlist" [value]="car.item_text" style=" font-size: 11px;">{{car.item_text}}
        </ng-option>
      </ng-select>
      <div class="row">
        <div class="col-sm-12">
          <p class="c-center" *ngIf="nodata == 1" style="color:red"> <strong>No data found</strong> </p>

          <div *ngIf="nodata == 0" [chart]="barchart"></div>
        </div>
      </div>