<mat-sidenav-container>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list class=sidenav >
      <a mat-list-item style="border-bottom: 1px solid lightgray;border-top: 1px solid lightgray; font-size:14px; "
        [routerLink]="['/home']">
        Home
      </a>
      <a mat-list-item style="border-bottom: 1px solid lightgray; font-size:14px" [routerLink]="['/compliance/adoption']">
        Adoption
      </a>
      <a mat-list-item style="border-bottom: 1px solid lightgray; font-size:14px" [routerLink]="['/learning/learn']">
        Learning
      </a>
      <a mat-list-item style="border-bottom: 1px solid lightgray; font-size:14px" [routerLink]="['/engagement/engage']" >
        Engagement
      </a>
      <a mat-list-item style=" border-bottom: 1px solid lightgray; font-size:14px" [routerLink]="['/program-effectivness/program']">
        Program Effectiveness
      </a>
      <span class="toolbar-filler"></span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 200vh;overflow-y: hidden;">
<router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
