<div class="row">
    <div class="col-sm-6">
        <select id="resource" style="width: 80%;" [(ngModel)]="resourceSelected" name="resourceSelected"
            (change)="updateValues(resourceSelected)">
            <option [value]="resourceSelected" disabled selected="selected">Choose a Resource
            </option>
            <option *ngFor="let name of content_names" [(ngValue)]="name.name"
                style=" font-size: 11px;">
                {{name.name}}
            </option>
        </select>
    </div>
    <div class="col-sm-6">
        <div *ngFor="let item of chartData2"
            style="font-family: 'Segoe UI';font-size:16px; text-align:center">
            <b> {{item.key}}:{{item.value}}</b>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div [chart]="barchart" style="height: 66vh;"></div>
    </div>
</div>