<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-md-12" style="border:2px solid #D3D3D3">
       <app-percentage-pergroup></app-percentage-pergroup>
      </div>

    </div>
    <div class="col-sm-6">
      <div class="col-md-12" style="border:2px solid #D3D3D3">
        <app-userneverloggedin></app-userneverloggedin>

      </div>

    </div>
  </div>
  <div class="row" style="margin-top: 4%;">
    <div class="col-sm-6">
      <div class="col-md-12" style="border:2px solid #D3D3D3 ;">
        <app-dailyactive-perapp></app-dailyactive-perapp>
      </div>

    </div>
    <div class="col-sm-6" style="border:2px solid #D3D3D3">
     <app-viewall-resource></app-viewall-resource>
    </div>

  </div>


</div>